<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Password Reset</title>
</head>
<body style="font-family: Arial; background: #f8d7da; padding: 20px;">

<div style="background: #f5c6cb; padding: 25px; border-radius: 8px;">
    <h2 style="color:#721c24;">Reset Password OTP</h2>

    <p>Hello,</p>
    <p>Your OTP to reset your password is:</p>

    <h1 style="color:#721c24; letter-spacing: 3px;">[[${otp}]]</h1>

    <p>This OTP is valid for 5 minutes.</p>
</div>

</body>
</html>
